{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment venir à l'UPJV ?</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static  'css/reset.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link rel="icon" type="image/png" href="{%  static  'img/favicon-16x16.png'  %}" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <!-- <li><a href="./gtfs-to-json/">GTFSToJsonAPI</a></li> -->
                <li><a href="./gtfs-to-json/agency/?format=json">AgencyAPI</a></li>
                <li><a href="./gtfs-to-json/calendar/?format=json">CalendarAPI</a></li>
                <li><a href="./gtfs-to-json/calendar-dates/?format=json">CalendarDatesAPI</a></li>
                <li><a href="./gtfs-to-json/routes/?format=json">RoutesAPI</a></li>
                <li><a href="./gtfs-to-json/shapes/?format=json">ShapesAPI</a></li>
                <li><a href="./gtfs-to-json/stops/?format=json">StopsAPI</a></li>
                <li><a href="./gtfs-to-json/stops-extensions/?format=json">StopsExtensionsAPI</a></li>
                <li><a href="./gtfs-to-json/transfers/?format=json">TransfersAPI</a></li>
                <li><a href="./gtfs-to-json/trips/?format=json">TripsAPI</a></li>
                <li><a href="./gtfs-to-json/stop-times/?format=json">StopTimesAPI</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>

</html>