{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment venir à l'UPJV ?</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static  'css/reset.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link rel="icon" type="image/png" href="{%  static  'img/favicon-16x16.png'  %}" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="./gtfs-to-json/test">GTFSToJsonAPI</a></li>
                <li><a href="./gtfs-to-json/agency/?format=json">AgencyAPI</a></li>
                <li><a href="./gtfs-to-json/calendar/">CalendarAPI</a></li>
                <li><a href="./gtfs-to-json/calendar-dates/">CalendarDatesAPI</a></li>
                <li><a href="./gtfs-to-json/routes/">RoutesAPI</a></li>
                <li><a href="./gtfs-to-json/shapes/">ShapesAPI</a></li>
                <li><a href="./gtfs-to-json/stops/">StopsAPI</a></li>
                <li><a href="./gtfs-to-json/stops-extensions/">StopsExtensionsAPI</a></li>
                <li><a href="./gtfs-to-json/transfers/">TransfersAPI</a></li>
                <li><a href="./gtfs-to-json/trips/">TripsAPI</a></li>
                <li><a href="./gtfs-to-json/stop-times/">StopTimesAPI</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>

</html>